
**/settings/Mainnet.toml
**/settings/Testnet.toml
**/.cache
**/.vscode
history.txt
**/yarn.lock
**/next-env.d.ts
**/.next


logs
*.log
npm-debug.log*
coverage
*.info
costs-reports.json
**/node_modules
